
.events {
  @include row();
  .event {
    @include col(1,2,0);
    margin-top: $small-margin;
    img {
      height: 190px;
      width: 130px;
      object-fit: cover;
      display: inline-block;
      margin-right: $small-margin;
    }
    .info {
      display: inline-block;
      width: 250px;
      vertical-align: top;

      .name {
        @include font-main-bold();
      }
      .cast {
        @include font-main-italic();
        margin-bottom: $small-margin;
      }
      .info-item {
          @include font-main();
      }
    }
    .additional-details {
      @include font-main-bold();
    }
  }
}

.event-day {
    margin-bottom: $big-margin; 
    .title {
    @include font-main-bold-italic();
    border-bottom: 1px solid lightgray;
    }
}

@media only screen and (max-width: 650px) {
  .events {
    .event {
      @include col(1,1,0);
      img {
        height: auto !important;
        width: 100% !important;
        margin-right: 0;
      }
      .info {
        .cast {
          margin-bottom: 5px;
        }
      }
      .additional-details {
        margin-bottom: $small-margin;
      }
    }
  }
}


@media only screen and (max-width: 860px) {
  .events {
    .event{
      img {
        height: 380px;
        width: 260px;
        margin-right: 0;
      }
    }
  }
}
