
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin row() {
  font-size: 0;
}

@mixin col($col, $sum, $gap: 1em, $align: top, $first: false, $last: false) {
  width: percentage($col/$sum);
  font-size: 16px;
  display: inline-block;
  vertical-align: $align;
  box-sizing: border-box;
  padding-left: if($first, 0, $gap);
  padding-right: if($last, 0, $gap);
}


// Font styles ----------------

@mixin font-main() {
    font-weight: 300;
    font-size: em(14);
}

@mixin font-main-bold() {
    font-weight: 600;
    font-size: em(14);
}

@mixin font-main-italic() {
    font-weight: 300;
    font-size: em(14);
    font-style: italic;
}

@mixin font-main-bold-italic() {
    font-weight: 600;
    font-size: em(14);
    font-style: italic;
}

@mixin font-large-bold {
    font-weight: 600;
    font-size: em(16);
}

@mixin font-button {
    font-weight: 400;
    font-size: em(14);
}