
@import 'settings';
@import 'mixins';

@import 'global';
@import 'header';
@import 'events';
@import 'helpers';
@import 'modules/band-list';
@import 'modules/band-shows';
@import 'modules/band-profile';

@import 'forms';
@import 'login';
@import 'profile';

.home {
  @include col(8, 12, 0);
  section {
    padding-left: $page-margin;
  }
}

aside{
  @include col(4, 12, 0);
  padding-left: $big-margin;
  padding-right: $page-margin;

  section {
    margin-bottom: 40px;
    p {
      @include font-main;
      text-align: justify;
    }
  }
}

@media only screen and (max-width: 1024px) {
    .home {
    @include col(1, 1, 0);
    section {
      padding-left: $mobile-page-margin;
      padding-right: $mobile-page-margin;
    }
  }
  aside{
    @include col(1, 1, 0);
    padding-left: $mobile-page-margin;
    padding-right: $mobile-page-margin;
    section {
      border-top: 1px solid lightgray;
    }
  }
}
