@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600&subset=latin-ext');

$font-stack:    'Open Sans', serif;
$primary-color: #5A5A5A;
$light-color: white;
$separator-color: #5A5A5A;
$link-color: #1C79E8;

$menu-selection-color: #F8E81C;
$menu-spacing: 27px;

$page-margin: 48px;
$big-margin: 30px;
$small-margin: 20px;

$mobile-page-margin: 18px;
$mobile-menu-spacing: 0px;
$mobile-menu-toggle-size: 27px;

$separator-height: 4px;

$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

@mixin row() {
  font-size: 0;
}

@mixin col($col, $sum, $gap: 1em, $align: top, $first: false, $last: false) {
  width: percentage($col/$sum);
  font-size: 16px;
  display: inline-block;
  vertical-align: $align;
  box-sizing: border-box;
  padding-left: if($first, 0, $gap);
  padding-right: if($last, 0, $gap);
}

body {
  @include row();
  font-family: $font-stack;
  color: $primary-color;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: em(18);
  color: $primary-color;
  margin-top: $big-margin;
  margin-bottom: $small-margin;
}

a {
  color: $link-color;
}

a:visited {
  color: $link-color;
}

header {
  @include col(1, 1, 0);
  .logo {
    display: inline-block;
    margin-left: $page-margin;
    margin-right: $page-margin;
    margin-top: $page-margin;
  }
  nav {
    display: inline-block;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin-left: 0px;
        margin-right: $menu-spacing;
        padding: 0;
        a {
          text-decoration: none;
          color: $primary-color;
        }
        a:visited {
          color: $primary-color;
        }
      }

      li.selected {
        border-bottom: 4px solid $menu-selection-color;
      }
    }
  }

  .toggleMenu {
    display: none;
    content: url(../img/menu_gray.svg);
    width: $mobile-menu-toggle-size;
    height: $mobile-menu-toggle-size;
    position: absolute;
    right: $mobile-page-margin;
    top: $mobile-page-margin;
    cursor: pointer;
  }
  .header-separator {
    background-color: $separator-color;
    height: $separator-height;
    margin-top: 7px;
  }
  .slideshow {
    width: 100%;
    height: 180px;
    //background-color: black;
    background-image: url('../img/slide.png');
    background-size: 100%;
    background-position-y: -85px;
    opacity: 0.88;
    position: relative;
  }
  .slideinfo {
    position: absolute;
    right: $page-margin;
    bottom: $small-margin;
    color: $light-color;
    text-align: right;
    .title {
      font-size: em(14);
    }
    .location {
      font-size: em(12);
      //font-style: italic;
      font-weight: 300;
    }
    .date {
      @extend .location
    }
  }
}

.events {
  @include row();
  .event {
    @include col(1,2,0);
    margin-top: $small-margin;
    img {
      height: 190px;
      width: 130px;
      object-fit: cover;
      display: inline-block;
      margin-right: $small-margin;
    }
    .info {
      display: inline-block;
      width: 250px;
      vertical-align: top;

      .name {
        font-weight: 600;
        font-size: em(14);
      }
      .cast {
        font-weight: 300;
        font-style: italic;
        font-size: em(14);
        margin-bottom: $small-margin;
      }
      .info-item {
        font-weight: 300;
        font-size: em(14);
      }
    }
    .additional-details {
      font-weight: 600;
      font-size: em(14);
    }
  }
}

main {
  @include col(8, 12, 0);
  //background-color: gray;
  section {
    padding-left: $page-margin;
    .event-day {
      margin-bottom: $big-margin; 
      .title {
        font-style: italic;
        font-size: em(14);
        font-weight: 600;
        border-bottom: 1px solid lightgray;
      }
    }
  }
}
aside{
  @include col(4, 12, 0);
  padding-left: $big-margin;
  padding-right: $page-margin;

  section {
    margin-bottom: 40px;
    p {
      font-size: em(14);
      font-weight: 300;
      //font-style: italic;
      text-align: justify;
    }
  }
}



@media only screen and (min-width: 650px) and (max-width: 860px) {
  .slideshow {
    display: block !important;
  }
}

@media only screen and (max-width: 650px) {


  .events {
    .event {
      @include col(1,1,0);
      img {
        height: auto !important;
        width: 100% !important;
        margin-right: 0;
      }
      .info {
        display: inline-block;
        width: 250px;
        vertical-align: top;

        .name {
          font-weight: 600;
          font-size: em(14);
        }
        .cast {
          font-weight: 300;
          font-style: italic;
          font-size: em(14);
          margin-bottom: $small-margin;
        }
        .info-item {
          font-weight: 300;
          font-size: em(14);
        }
      }
      .additional-details {
        font-weight: 600;
        font-size: em(14);
      }
    }
  }
}


@media only screen and (max-width: 860px) {
  header {  
    position: relative;
    .logo {
      margin: $mobile-page-margin;
    }
    nav {
      display: none;
      width:100%;
      ul {
        margin-bottom: $mobile-page-margin;
        li {
          display: block;
          margin-left: 14px;
          padding-left: 5px;
          margin-right: 0px;
          margin-top: $mobile-menu-spacing;
          margin-bottom: $mobile-menu-spacing;
          border-left: 4px solid white;
        }
        li.selected {
          border-left: 4px solid $menu-selection-color;
          border-bottom: none;
        }
      }
    }

    .toggleMenu {
      display: block;
    }
    .slideshow {
      display: none;
    }
  }

  .events {
    .event{
      img {
        height: 380px;
        width: 260px;
        margin-right: 0;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
    main {
    @include col(1, 1, 0);
    section {
      padding-left: $mobile-page-margin;
      padding-right: $mobile-page-margin;
    }
  }
  aside{
    @include col(1, 1, 0);
    padding-left: $mobile-page-margin;
    padding-right: $mobile-page-margin;
    section {
      border-top: 1px solid lightgray;
    }
  }
}

.visible-block {
  display: block;
}